.accordion {
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
}

.accordion summary {
  font-weight: bold;
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0.5em;
  border-radius: 5px;
}

.accordion[open] summary {
  background-color: #e0e0e0;
}

main.page-content {
  padding: 0;
}

.page-heading-wrapper {
  width: 100%;
  aspect-ratio: 3 / 1;
  background-position: center center;
  background-image: url(https://lh3.googleusercontent.com/jwB7TNEQytQfEbAGoLmycJYWYrZsiOcEwGIOB7beM7Of6_AXs-FdfcFfh-1KbxJnj2U4LJspWnDAbNxusuZTy9aBaVfTicLo1preJp86a0xyFB3LeuKUpwG90dyn3zlyf_VcqTGJ2Cc=w16383);
  background-size: cover;
  background-color: rgba(255,255,255, 0.5);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;  /* 横方向中央 */
  align-items: center;      /* 縦方向中央 */
}

.page-heading {
  text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
  text-align: center;
}